body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.landing {
  height: 100vh;

  background-image: url("https://images.unsplash.com/photo-1485955900006-10f4d324d411");

  background-size: cover;

  background-position: center;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  color: white;
}

.landing h1 {
  font-size: 50px;
}

button {
  padding: 12px 25px;

  border: none;

  background: #2e7d32;

  color: white;

  border-radius: 8px;

  cursor: pointer;
}

.navbar {
  display: flex;

  justify-content: space-around;

  padding: 20px;

  background: #2e7d32;

  color: white;
}

.product-container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 20px;

  padding: 20px;
}

.card {
  border: 1px solid #ddd;

  padding: 15px;

  text-align: center;
}

.card img {
  width: 200px;

  height: 200px;

  object-fit: cover;
}
